.wishlistpg{
    width: 100%;
    height: min-content;
}
.wishlistGrid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px , 330px));
    place-content: center;
    column-gap: 20px;
    row-gap: 45px;
}