.resetPasswordpg{
    display: flex;
    justify-content: space-between;
}
.resetPasswordpgLeft{
    display: flex;
    flex-direction: column;
    padding: 30px;
    flex: 2;
}

.resetPasswordpgForm{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin-top: 120px;
}
.resetPasswordpgForm h3{
    margin-bottom: 35px;
}
.resetPasswordpgForm input{
    padding: 17px;
    background: transparent;
    border-radius: 10px;
    border: 1px solid var(--dusty-rose, #D4C8BE);
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}
.resetPasswordpgForm input::placeholder{
    color: var(--grey, #B0B0B0);
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
}
.resetPasswordpgFormSend{
    width: 100%;
    display: block;
}
.logInFormBtn{
    width: 100%;
}

.resetPasswordpgForm div{
    display: flex;
    gap: 20px;
    margin-top: 70px;
}
.resetPasswordpgForm div p{
    color: var(--black, #2D2D2B);
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}
.resetPasswordpgForm div a{
    color: var(--primary, #B8926A);
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    text-decoration-line: underline;
}


@media screen and (max-width:768px) {
    .resetPasswordpg{
        display: flex;
        flex-direction: column;
    }
    .resetPasswordpgLeft{
        display: flex;
        flex-direction: column;
        padding: 0px 15px;
        flex: 1;
        margin-top: 40px;
    }
    .resetPasswordpgForm{
        display: flex;
        flex-direction: column;
        row-gap: 15px;
        margin-top: 40px;
    }
    .resetPasswordpgForm div{
        display: flex;
        gap: 20px;
        margin-top: 40px;
        margin-bottom: 40px;
    }
}